<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/boootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/stylee.css" rel="stylesheet">
    <style>
                .hero-header{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url(./static/images/2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
 
}
    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
   
    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <!-- <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>JourneyBooker</h1> -->
                <h1 class="text-primary m-0"><i class="fa fa-train"></i> JourneyBooker</h1>
                <!-- <img src="static/images/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/userhome" class="nav-item nav-link active">Home</a>
                    <a href="searchtrain" class="nav-item nav-link">Search Train</a>
                    <a href="view_booking" class="nav-item nav-link">Show Booking</a>
                    <!-- <a href="cancel" class="nav-item nav-link">Cancel</a> -->
                    <a href="profile" class="nav-item nav-link">Profile</a>
                    <a href="/" class="nav-item nav-link">Logout</a>
                    {%for i in na%} 
                       <h4 style="color: rgb(160, 244, 108);"> welcome {{i.username}}</h2> 
                        {%endfor%}

            </div>
        </nav>


        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Vacation With Us</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown"></p>
                        <form method="GET" action="{% url 'search_trains' %}">
                        <div class="position-relative w-75 mx-auto animated slideInDown">
                            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" name="train_name" name="train_name" placeholder="Search  by Train name">
                            <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:60px;height:60px;position:fixed;right:10px;bottom:10px;">
        <a href="https://wa.me/9447648923"><img src="./static/images/whatsapp.png" style="width:60px;height:60px;" /></a>
      </div>
  
    <!-- Navbar & Hero End -->


    <!-- Footer Start -->
    
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6" style="text-align: right;">
                    <h4 class="text-white mb-3">JourneyBooker</h4>
                    <!-- <a class="btn btn-link" href="">About Us</a> -->
                    <a class="btn btn-link" href="userhome" style="text-align: right;">Home</a>
                    <a class="btn btn-link" href="searchtrain" style="text-align: right;">Search Train</a>
                    <a class="btn btn-link" href="view_boking"style="text-align: right;">Booking</a>
                    <a class="btn btn-link" href="profile"style="text-align: right;">Profile</a>
                </div>
                <div class="col-lg-3 col-md-6" >
                    
                    <h4 class="text-white mb-3"style="text-align: right; padding: right;">Contact</h4>
                    <p class="mb-2" style="text-align: right;padding: right;"><i class="fa fa-map-marker-alt me-3"></i>vallakom p.o kottayam</p>
                    <p class="mb-2"style="text-align: right;"><i class="fa fa-phone-alt me-3"></i>+91 9447648923</p>
                    <p class="mb-2"style="text-align: right;"><i class="fa fa-envelope me-3"></i>admin@gmail.com</p>
               
                    <div class="d-flex pt-2">
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    
                    <div class="row g-2 pt-2">
                        <h4 class="text-white mb-3"style="text-align: right; padding: right;">About</h4>
                    <p style="text-align: right; padding: right;">The system provides a user-friendly platform for customers to book and manage their train tickets</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer End -->


    <!-- Back to Top -->
    <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>